/***** html, body reset *****/

html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

/***** font definitions *****/

@font-face {
  font-family: "Basis Grotesque";
  src: url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.eot");
  src: url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.svg#Basis Grotesque")
      format("svg");
}

@font-face {
  font-family: "Adobe Caslon Pro";
  font-weight: regular;
  src: url("/fonts/ACaslonPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Cormorant";
  font-weight: regular;
  src: url("/fonts/Cormorant-Regular.ttf") format("truetype");
}

/***** serif font family *****/

h1,
h3,
p,
a,
#title,
.subsection-title {
  font-family: adobe-caslon-pro, "Adobe Caslon Pro", "Cormorant",
    "Times New Roman", serif;
}

figcaption,
.img-caption,
.subsection-additional-info {
  font-family: "Basis Grotesque", "SF Pro", Helvetica, Arial, sans-serif;
}

/***** css follows layout *****/

/* hero section*/
#hero,
footer {
  background-size: cover;
  background-position: center top;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#hero {
  background-image: url(https://i.imgur.com/Mgnn1Le.jpg);
}

.item-invisible {
  visibility: hidden;
}

/* hero section title */
.title {
  color: white;
  font-weight: 300;
  font-size: 3em;
  line-height: 1em;
  margin: 5vh auto;
}

.signature {
  width: 110vw;
  max-width: 350px;
  height: auto;
}

/* images below hero section */
.images-top-div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;

  position: relative;
  bottom: 30px;

  overflow: hidden;
}

.image-top {
  height: 50vw;
  max-height: 270px;
  width: auto;
  margin: 0;
}

/* images below hero + expands to images in text*/
.img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2vw;
}

.img-div-in-text {
  margin-bottom: 30px;
}

/* title of every subsection */
.subsection-title {
  font-size: 30px;
}

#early-career-subsection-title {
  margin-bottom: 0px;
}

/* image captions and sub-subtitles */
.img-caption,
.subsection-additional-info {
  font-size: 15px;
  font-weight: 100;
  margin-top: 10px;
  opacity: 40%;
}

.subsection-additional-info {
  margin-top: 0px;
}

.caption-in-text {
  max-width: 450px;
}

/* paragraphs in each section */
#main-paragraph {
  font-size: 4vw;
  font-weight: 500;
  margin: 2vw 10% 2vw;
}

.text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.text-paragraph {
  text-align: left;
  font-family: "Cormorant", "Adobe Caslon Pro", "Times New Roman", Serif,
    "Basis Grotesque Pro", "Space Grotesk", "Space Mono", Helvetica, "Monument";
  max-width: 450px;

  margin: 0 5%;

  font-size: 18px;
  line-height: 1.6;
}

.paragraph-before-img {
  margin-bottom: 30px;
}

/* css guides for images in text */
.image-in-text {
  width: 100%;
  max-width: 700px;
  height: 400px;
  object-fit: cover;
}

/* image fills screen width until it is 700px */
.image-in-text-full {
  width: 100%;
  max-width: 700px;
  height: auto;
}

/* images fills screen until it can, then cropped from left */
.img-crop-left {
  object-position: top right;
}

/* image fills screen until it can, then cropped with 70% left to right point acting as center */
.left-crop-70 {
  object-position: 70% 30%;
}

/* image fills screen until it can, then cropped from right */
.img-crop-right {
  object-position: center left;
}

.university-logo-img {
  height: 100px;
  width: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.first-universit-logo-img {
  margin-top: 0px;
}

/* footer */
footer {
  /*background-image: url(https://i.imgur.com/NlGpz5q.jpg);*/

  background-image: /* linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.01),
      rgba(35, 35, 35, 0.96)
    ),*/ url("https://i.imgur.com/mNOrEFZ.jpg");
}

footer p {
  color: white;
  font-size: 2em;
  margin-top: 0px;
}

.quote {
  margin: 25px 10%;
}

/***** media queries *****/

@media only screen and (max-width: 500px) {
  #title {
    font-size: 15vw;
  }

  #subtitle {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 1000px) {
  #hero {
    background-position: 48% 52%;
  }
}
