@font-face {
  font-family: "Basis Grotesque";
  src: url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.eot");
  src: url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.svg#Basis Grotesque")
      format("svg");
}

/* {
  border: 2px dotted red;
} */

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h3,
p,
a,
figcaption {
  font-family: adobe-caslon-pro, "Adobe Caslon Pro", "Cormorant",
    "Times New Roman", Serif, "Basis Grotesque Pro", "Space Grotesk",
    "Space Mono", Helvetica, "Monument";
}

body {
  text-align: center;
}

#hero {
  // background-image: url(https://media.giphy.com/media/2G9n0ueuxxjypqyusL/giphy.gif);
  background-image: url(https://i.imgur.com/Mgnn1Le.jpg);

  background-size: cover;
  background-position: center top;
  //width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer {
  // background-image: url(https://media.giphy.com/media/2G9n0ueuxxjypqyusL/giphy.gif);
  background-image: url(https://i.imgur.com/NlGpz5q.jpg);

  background-size: cover;
  background-position: center top;
  //width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#title {
  color: white;
  font-family: "Adobe Caslon Pro", "Cormorant", "Times New Roman", Serif,
    "Basis Grotesque Pro", "Space Grotesk", "Space Mono", Helvetica, "Monument";
  font-weight: 300;
  font-size: 3em;
  //font-size: 10vw;
  line-height: 1em;
  margin: 5vh auto;
}

.item-invisible {
  visibility: hidden;
}

.images-top-div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;

  position: relative;
  bottom: 30px;

  overflow: hidden;
}

.img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2vw;

  //overflow: hidden;
}

.img-div-in-text {
  margin-bottom: 30px;
}

.image {
  height: 50vw;
  max-height: 270px;
  width: auto;
  margin: 0;
}

.img-caption,
.subsection-additional-info {
  font-family: "Basis Grotesque";
  font-size: 15px;
  font-weight: 100;
  margin-top: 10px;
  opacity: 40%;
}

.subsection-additional-info {
  margin-top: 0px;
}

.caption-in-text {
  max-width: 450px;
}

#main-paragraph {
  font-size: 4vw;
  font-weight: 500;
  margin: 2vw 10% 2vw;
}

.image-in-text {
  width: 100%;
  max-width: 700px;
  height: 400px;
  //display: inline-block;

  object-fit: cover;
}

.image-in-text-full {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.img-crop-left {
  object-position: top right;
}

.left-crop-70 {
  object-position: 70% 30%;
}

.img-crop-right {
  object-position: center left;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.signature {
  width: 110vw;
  max-width: 350px;
  height: auto;
  //background-color: red;
}

.text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.subsection-title {
  font-family: "Adobe Caslon Pro", "Cormorant", "Times New Roman", Serif,
    "Basis Grotesque Pro", "Space Grotesk", "Space Mono", Helvetica, "Monument";
  font-size: 30px;
}

#early-career-subsection-title {
  margin-bottom: 0px;
}

.text-paragraph {
  text-align: left;
  font-family: "Cormorant", "Adobe Caslon Pro", "Times New Roman", Serif,
    "Basis Grotesque Pro", "Space Grotesk", "Space Mono", Helvetica, "Monument";
  max-width: 450px;

  margin: 0 5%;

  font-size: 18px;
  line-height: 1.6;
}

.paragraph-before-img {
  margin-bottom: 30px;
}

.university-logo-img {
  height: 100px;
  width: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.first-universit-logo-img {
  margin-top: 0px;
}

@media only screen and (max-width: 500px) {
  #title {
    font-size: 15vw;
  }

  #subtitle {
    font-size: 3vw;
  }
}
